# Build and Release Folders
Web/bin-debug/*


# Restricted Folders
Archive Data/*
Archive Scripts/*


# File-types
*.old
*.archive


# Executables
.exe

# ██ [ Server Directories      ] ██
# ██ | 1.15.2 Gateway          | ██
Servers/1.15.2 Gateway/*
!*Servers/1.15.2 Gateway/**.jar
!Servers/1.15.2 Gateway/plugins
Servers/1.15.2 Gateway/plugins/*


# ██ | 0.0.0 Discord           | ██
Servers/0.0.0 Discord/*
!*Servers/0.0.0 Discord/**.jar
!Servers/0.0.0 Discord/plugins
Servers/0.0.0 Discord/plugins/*
# plugin jars
#!Servers/0.0.0 Discord/plugins/**.jar
!Servers/0.0.0 Discord/plugins/denizen
Servers/0.0.0 Discord/plugins/denizen/notables.yml
Servers/0.0.0 Discord/plugins/denizen/saves.yml
!Servers/0.0.0 Discord/plugins/denizen/
Servers/0.0.0 Discord/plugins/denizen/data


# ██ | 1.15.2 Production       | ██
Servers/1.15.2 Production/*
!*Servers/1.15.2 Production/**.jar
!Servers/1.15.2 Production/plugins
Servers/1.15.2 Production/plugins/*
# plugin jars
#!Servers/1.15.2 Production/plugins/**.jar
!Servers/1.15.2 Production/plugins/denizen
Servers/1.15.2 Production/plugins/denizen/notables.yml
Servers/1.15.2 Production/plugins/denizen/saves.yml
!Servers/1.15.2 Production/plugins/denizen/
Servers/1.15.2 Production/plugins/denizen/data


# ██ | 1.15.2 Construction     | ██
Servers/1.15.2 Construction/*
!*Servers/1.15.2 Construction/**.jar
!Servers/1.15.2 Construction/plugins
Servers/1.15.2 Construction/plugins/*
# plugin jars
#!Servers/1.15.2 Construction/plugins/**.jar
!Servers/1.15.2 Construction/plugins/denizen
Servers/1.15.2 Construction/plugins/denizen/notables.yml
Servers/1.15.2 Construction/plugins/denizen/saves.yml
!Servers/1.15.2 Construction/plugins/denizen/
Servers/1.15.2 Construction/plugins/denizen/data


# ██ | 1.12.2 Construction     | ██
Servers/1.12.2 Construction/*
!*Servers/1.12.2 Construction/**.jar
!Servers/1.12.2 Construction/plugins
Servers/1.12.2 Construction/plugins/*
# plugin jars
#!Servers/1.12.2 Construction/plugins/**.jar
!Servers/1.12.2 Construction/plugins/denizen
Servers/1.12.2 Construction/plugins/denizen/notables.yml
Servers/1.12.2 Construction/plugins/denizen/saves.yml
!Servers/1.12.2 Construction/plugins/denizen/
Servers/1.12.2 Construction/plugins/denizen/data


# ██ | Template & Test Servers | ██
Servers/1.15.2 Test*
Servers/Templates/*


# Resource template
Resource/Template/*



