# Build and Release Folders
bin-debug/*
bin-release/*

# Restricted Folders
Archive Data/*
Archive Scripts/*

# Server Restricted Folders
# Gateway
Gateway/*
!*Gateway/**.jar


# Servers/1.15.2 Gateway
Servers/1.15.2 Gateway/*
!*Servers/1.15.2 Gateway/**.jar
!Servers/1.15.2 Gateway/plugins
Servers/1.15.2 Gateway/plugins/*

# Servers/1.15.2 Production
Servers/1.15.2 Production/*
!*Servers/1.15.2 Production/**.jar
!Servers/1.15.2 Production/plugins
Servers/1.15.2 Production/plugins/*
# plugin jars
#!Servers/1.15.2 Production/plugins/**.jar
!Servers/1.15.2 Production/plugins/denizen
Servers/1.15.2 Production/plugins/denizen/notables.yml
Servers/1.15.2 Production/plugins/denizen/saves.yml
!Servers/1.15.2 Production/plugins/denizen/
Servers/1.15.2 Production/plugins/denizen/data

# plugin jars
#!Hub 1.12.2/plugins/**.jar
!Hub 1.12.2/plugins/denizen
!Hub 1.12.2/plugins/denizen/
Hub 1.12.2/plugins/denizen/data

# File-types
*.old

# Executables
.exe


