# Build and Release Folders
bin-debug/*
bin-release/*

# Restricted Folders
Gateway/*
Hub 1.12.2/*
Hub 1.15.2/*
Archive Data/*
Archive Scripts/*

# Server Restricted Folders

# Server Restricted Files

# File-types
*.old

# Executables
.exe